body {
    /* background-color: #151b14; */
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-image {
    width: 100%;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(35px + 2vmin);
    color: #f4c04b;
}